name: debounced_autocomplete
description: A Flutter autocomplete widget built on top of RawAutocomplete with built-in debouncing to optimize API calls and reduce unnecessary requests while users type.
version: 1.0.0
homepage: https://github.com/venhdev/debounced_autocomplete
repository: https://github.com/venhdev/debounced_autocomplete
issue_tracker: https://github.com/venhdev/debounced_autocomplete/issues

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
